<header class="site-header">
  <div class="headerBanner ">
    <div class="">
      <h1>
        <span>WEB</span>
        Dynamic Fundamentals</h1>
      <h2>WDD 131</h2>
    </div>
  </div>
  <div>
    {% include "navigation.njk" %}
  </div>
</header>