:root {
	--dark-blue: #313d5a;
	--platinum: #eaeaea;
	--lilac: #73628a;
	--fire-opal: #e3655b;
}
body {
	font-family: 'Courier New', Courier, monospace;
}
img {
	max-width: 100%;
}
h1,
h2,
h3,
h4 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #313d5a;
}
p {
	line-height: 1.5;
}
a:link,
a:visited {
	color: var(--lilac);
}

a:hover {
	color: var(--fire-opal);
	text-decoration: none;
}
header {
	color: #313d5a;
	border-bottom: 1px solid #313d5a;
	text-align: center;
	margin-bottom: 2em;
}

.date-form {
	margin: 1em 0;
	font-size: 1.5em;
	background-color: #eaeaea;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.date-form input {
	/* line-height: 1.5; */
	font-size: 1.5rem;
	padding: 0.5em;
	width: 60%;
}
.date-form button {
	padding: 0.5em;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: #73628a;
	color: white;
	border: 0;
	width: 100%;
	margin-top: 1em;
}
.error {
	margin: 1em 0;
	background-color: var(--fire-opal);
	padding: 0.5em;
	color: white;
}
.hide {
	display: none;
}
.photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

footer {
	font-size: 0.7em;
	border-top: 1px solid #313d5a;
	width: clamp(200px, 80%, 960px);
	margin: 2em auto;
	padding: 2em;
}
@media screen and (min-width: 800px) {
	main {
		width: clamp(200px, 80%, 960px);
		margin: auto;
	}
	.photo {
		flex-direction: row;
	}
	.photo > img,
	.photo > div {
		width: 45%;
		flex: 1 1 45%;
	}
	.date-form {
		flex-wrap: nowrap;
	}
	.date-form > button {
		width: auto;
		margin-top: 0;
	}
}
