---
layout: base
permalink: /semester/
eleventyNavigation:
  key: Semester
  order: 2
---

<div class="container">
  <h1>Units: Semester</h1>
  {% set postslist = collections.semester %}
  {% include "unitslist.njk" %}
</div>