---
layout: base
permalink: /block/
eleventyNavigation:
  key: Block
  order: 2
---

<div class="container">
  <h1>Units: Block</h1>
  {% set postslist = collections.block %}
  {% include "unitslist.njk" %}
</div>