---
layout: base
---

<article class="container">
  <h1>{{ title }}</h1>
  <hr>
    <h2>Activity Instructions</h2>
    <p>Estimated Time: {{ time }}</p>
    <hr>
      <p>Please explore the following topics with one or more AI assistants. Here is a list of some options if you don't have
        a preference:</p>
      <ul>
        <li>
          <a href="https://chat.openai.com">ChatGPT</a>
        </li>
        <li>
          <a href="https://gemini.google.com">Gemini</a>
        </li>
      </ul>
      <p class="callout">For each topic you have been given sample question(s) to get you started. Watch for terms that you
        are unfamiliar with in the explanation and ask follow up questions. Your goal with this exercise should be to learn
        about the topics. If you approach this with the goal to simply complete the assignment without making an effort to learn
        about these topics you are wasting your time! Don't waste your time. When you are done you should have a good
        understanding of what the topic is, significant vocabulary associated with it, and how it is applied in web pages.</p>
      <h3>Steps</h3>
      <ol>
        <li>Ask the questions (one at a time) about each topic given in the Prepare page.</li>
        <li>Ask follow up questions about topics that are brought up that you don't fully understand.</li>
        <li>Copy and paste the entire prompt into chatGPT for the tutor section. (starts with "You are an upbeat...")</li>
        <li>Review what you have learned by answering the questions the AI tutor asks you.</li>
        <li>Get the link to the conversation using the share link button. Here's how:
          <a href="https://chatgpt.com/share/a96811da-d8d5-4dbb-b14c-6f8266556429">getting a sharable link</a>
        </li>
        <li>Copy the link and paste it into the assignment in ILearn.</li>
      </ol>
      <p>You will probably need to sign into whichever AI you have decided to use to get the sharable link to the conversation
        you had. Submit this link in ILearn.
      </p>
      <p class="callout">If you run into problems with running out of tokens with the AI you are using, you can split the
        conversation into two parts. First ask all the questions in the first chat, then in a new chat paste in the prompt and
        review. In this case make sure to turn in links to
        <strong>both</strong>
        conversations.</p>
      <div>
        <h3>Topics:</h3>
        {{ content | safe }}
      </div>
    </article>